@use "public/styles/common" as *;

.TodoItem {
  @include comp-style();
  --comp-name: "TodoItem";
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(240, 240, 240);
  transition: transform 1s ease, opacity 0.25s ease;
  background-color: transparent;
  // transform: translateY(0);
  // opacity: 1;

  &.beforeMounted {
    transform: translateY(0);
    opacity: 1;
  }

  &.mounted {
    transform: translateY(10px);
    opacity: 0;
  }

  &.rerandered {
    background-color: rgba(255, 255, 0, 0.1);
  }
}

.TodoItem input {
  width: 20px;
}

.TodoItem .content {
  flex: 1;
}

.TodoItem .date {
  font-size: 14px;
  color: gray;
}

.TodoItem button {
  cursor: pointer;
  color: gray;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
