.page {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;

  &__title {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
  }
  ul {
    margin-top: 20px;
    font-size: 20px;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
